* {
  font-family: "Chakra Petch", serif;
}

body{
  background-color: #EEEDED;
  color: #0D1282;
  margin: 2em;
}

a:link{
  color: #0D1282;
  
}

.testo {
  font-size: 18px;
}

.divlogo{
  width: 50%;
  margin-left:25%;
}
.imglogo {
  width: 100%;

}
